In [52]:
import yfinance as yf
import numpy as np
import pandas as pd
from statsmodels.tsa.vector_ar.vecm import coint_johansen
from itertools import combinations

### 1. Find which pairs are cointegrated using 2 year data 2020-01-01 until 2022-12-31

Note : Cointegration no need test stationarity. If stationary series then theres no trend to speak of (i hope i understand this right)

In [53]:
start_date = "2020-01-01"
end_date = "2022-12-31"

In [60]:
# get close data
usd_jpy_data = yf.Ticker("USDJPY=X").history(start=start_date,end = end_date)['Close']
usd_cad_data = yf.Ticker("USDCAD=X").history(start=start_date,end = end_date)['Close']
eur_usd_data = yf.Ticker("EURUSD=X").history(start=start_date,end = end_date)['Close']
gbp_usd_data = yf.Ticker("GBPUSD=X").history(start=start_date,end = end_date)['Close']

# merge to one data frame
df_data = pd.DataFrame(zip(usd_jpy_data, usd_cad_data, eur_usd_data,gbp_usd_data),columns=['USDJPY','USDCAD','EURUSD','GBPUSD'])
ccy_list = list(df_data.columns)

In [65]:
# combination
basket_size = range(2, len(ccy_list)+1)
for the_size in basket_size:
    perm = combinations(ccy_list, the_size) 
    for i in perm:
        df_check_coint = df_data[list(i)]
        jres1 = coint_johansen(df_check_coint, 0, 1)
        display(df_check_coint)

         USDJPY   USDCAD
0    108.681000  1.30020
1    108.712997  1.29730
2    108.542999  1.29830
3    107.963997  1.29866
4    108.405998  1.29639
..          ...      ...
778  132.789993  1.35897
779  132.764008  1.35570
780  133.485992  1.35250
781  134.033997  1.35994
782  132.916000  1.35520

[783 rows x 2 columns]

         USDJPY    EURUSD
0    108.681000  1.122083
1    108.712997  1.122083
2    108.542999  1.117144
3    107.963997  1.116196
4    108.405998  1.119799
..          ...       ...
778  132.789993  1.066780
779  132.764008  1.064022
780  133.485992  1.063717
781  134.033997  1.062925
782  132.916000  1.066075

[783 rows x 2 columns]

         USDJPY    GBPUSD
0    108.681000  1.326260
1    108.712997  1.325030
2    108.542999  1.315270
3    107.963997  1.308010
4    108.405998  1.317003
..          ...       ...
778  132.789993  1.206001
779  132.764008  1.208415
780  133.485992  1.202733
781  134.033997  1.202848
782  132.916000  1.205633

[783 rows x 2 columns]

      USDCAD    EURUSD
0    1.30020  1.122083
1    1.29730  1.122083
2    1.29830  1.117144
3    1.29866  1.116196
4    1.29639  1.119799
..       ...       ...
778  1.35897  1.066780
779  1.35570  1.064022
780  1.35250  1.063717
781  1.35994  1.062925
782  1.35520  1.066075

[783 rows x 2 columns]

      USDCAD    GBPUSD
0    1.30020  1.326260
1    1.29730  1.325030
2    1.29830  1.315270
3    1.29866  1.308010
4    1.29639  1.317003
..       ...       ...
778  1.35897  1.206001
779  1.35570  1.208415
780  1.35250  1.202733
781  1.35994  1.202848
782  1.35520  1.205633

[783 rows x 2 columns]

       EURUSD    GBPUSD
0    1.122083  1.326260
1    1.122083  1.325030
2    1.117144  1.315270
3    1.116196  1.308010
4    1.119799  1.317003
..        ...       ...
778  1.066780  1.206001
779  1.064022  1.208415
780  1.063717  1.202733
781  1.062925  1.202848
782  1.066075  1.205633

[783 rows x 2 columns]

         USDJPY   USDCAD    EURUSD
0    108.681000  1.30020  1.122083
1    108.712997  1.29730  1.122083
2    108.542999  1.29830  1.117144
3    107.963997  1.29866  1.116196
4    108.405998  1.29639  1.119799
..          ...      ...       ...
778  132.789993  1.35897  1.066780
779  132.764008  1.35570  1.064022
780  133.485992  1.35250  1.063717
781  134.033997  1.35994  1.062925
782  132.916000  1.35520  1.066075

[783 rows x 3 columns]

         USDJPY   USDCAD    GBPUSD
0    108.681000  1.30020  1.326260
1    108.712997  1.29730  1.325030
2    108.542999  1.29830  1.315270
3    107.963997  1.29866  1.308010
4    108.405998  1.29639  1.317003
..          ...      ...       ...
778  132.789993  1.35897  1.206001
779  132.764008  1.35570  1.208415
780  133.485992  1.35250  1.202733
781  134.033997  1.35994  1.202848
782  132.916000  1.35520  1.205633

[783 rows x 3 columns]

         USDJPY    EURUSD    GBPUSD
0    108.681000  1.122083  1.326260
1    108.712997  1.122083  1.325030
2    108.542999  1.117144  1.315270
3    107.963997  1.116196  1.308010
4    108.405998  1.119799  1.317003
..          ...       ...       ...
778  132.789993  1.066780  1.206001
779  132.764008  1.064022  1.208415
780  133.485992  1.063717  1.202733
781  134.033997  1.062925  1.202848
782  132.916000  1.066075  1.205633

[783 rows x 3 columns]

      USDCAD    EURUSD    GBPUSD
0    1.30020  1.122083  1.326260
1    1.29730  1.122083  1.325030
2    1.29830  1.117144  1.315270
3    1.29866  1.116196  1.308010
4    1.29639  1.119799  1.317003
..       ...       ...       ...
778  1.35897  1.066780  1.206001
779  1.35570  1.064022  1.208415
780  1.35250  1.063717  1.202733
781  1.35994  1.062925  1.202848
782  1.35520  1.066075  1.205633

[783 rows x 3 columns]

         USDJPY   USDCAD    EURUSD    GBPUSD
0    108.681000  1.30020  1.122083  1.326260
1    108.712997  1.29730  1.122083  1.325030
2    108.542999  1.29830  1.117144  1.315270
3    107.963997  1.29866  1.116196  1.308010
4    108.405998  1.29639  1.119799  1.317003
..          ...      ...       ...       ...
778  132.789993  1.35897  1.066780  1.206001
779  132.764008  1.35570  1.064022  1.208415
780  133.485992  1.35250  1.063717  1.202733
781  134.033997  1.35994  1.062925  1.202848
782  132.916000  1.35520  1.066075  1.205633

[783 rows x 4 columns]